<!DOCTYPE html>
<html>
<head>
    <base target="_top">
    <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
    <!-- The CSS package above applies Google styling to buttons and other elements. -->
    <script src="https://kit.fontawesome.com/a447f03be4.js"></script>
    <style>
        .branding-below {
            bottom: 56px;
            top: 0;
        }
        .branding-text {
            left: 7px;
            position: relative;
            top: 3px;
        }
        .col-contain {
            overflow: hidden;
        }
        .logo {
            vertical-align: middle;
        }
        .radio-spacer {
            height: 20px;
        }
        .width-100 {
            width: 100%;
        }
        /*.form-group{*/
            /*border-bottom-style:solid;*/
            /*border-color:#777;*/
            /*padding-bottom:10px;*/
            /*border-width:1px;*/
        /*}*/
        .field{
            margin:10px 0px;
            width:100%;
            display: block;
        }
    </style>

</head>
<body>
<div id="sidebar" class="sidebar branding-below">
    <div class="loader" id="loader" v-if="loading">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
    <div v-if="mergeURL">
        <h1>Merge complete!</h1>
        <p><a v-bind:href="mergeURL" target="_blank">View your merged document</a></p>
        <p><button v-on:click="mergeURL=null">Return to merge setup</button></p>
    </div>
    <form id="main" v-if="!loading && !mergeURL">
        <accordion title="Set up Sheet" v-bind:show="accordions.setUp">
            <button class="pickSpreadsheet" v-if="!settings.spreadsheet.sheet" v-on:click="pickSpreadsheet">Choose a spreadsheet to merge</button>
            <div v-if="settings.spreadsheet.sheet">
                <div class="block form-group">
                    <p><b>Spreadsheet:</b> <a v-bind:href="settings.spreadsheet.url" target="_blank">{{settings.spreadsheet.name}}</a> (<a v-on:click="pickSpreadsheet">choose another</a>)</p>

                </div>
                <div class="block form-group">
                    <label for="sheet"><b>Sheet:</b> <select v-on:change="saveSheet" id="sheet" v-model="settings.spreadsheet.sheet">
                        <option v-for="sheet in settings.spreadsheet.sheets" v-bind:value="sheet">
                            {{sheet}}
                        </option>
                    </select></label>
                </div>
                <div v-if="settings.spreadsheet.columnNames.length == 1 && settings.spreadsheet.columnNames[0]=='' ">
                    <p>This sheet seems to be empty. Add data or pick a different sheet to start merging. <a v-on:click="refresh">Click to refresh field list</a>.</p>
                </div>
            </div>
        </accordion>
        <accordion v-bind:show="accordions.addFields" title="Add fields" :disabled="!settings.spreadsheet || !settings.spreadsheet.columnNames || (settings.spreadsheet.columnNames && settings.spreadsheet.columnNames.length == 1 && settings.spreadsheet.columnNames[0]=='')">
            <div class="block form-group">
                <b>Click on a field to put it into your template</b>
                <ul class="list-choice">
                    <li class="choice-item" v-for="placeholder in placeholders">
                        <a href="#"  v-on:click="addField($event, placeholder)">{{placeholder}}</a>
                    </li>
                </ul>
                <p class="text-center"><a v-on:click="refresh">Refresh field list</a></p>
            </div>
        </accordion>
        <accordion v-bind:show="accordions.setRules" title="Set merge rules" :disabled="!settings.spreadsheet || !settings.spreadsheet.columnNames || (settings.spreadsheet.columnNames && settings.spreadsheet.columnNames.length == 1 && settings.spreadsheet.columnNames[0]=='')">
            <div>
                <div>
                    <b>Merge rows:</b>
                    <input type="number" v-model="settings.spreadsheet.startRow" v-on:change="rowsDirty = true" v-on:keydown="rowsDirty = true" size="3">
                    to
                    <input size="3" v-model="settings.spreadsheet.endRow" v-on:keydown="rowsDirty = true" v-on:change="rowsDirty = true" type="number">
                    <span v-if="rowsSaving">Saving...</span>
                    <button v-if="rowsDirty && !rowsSaving" v-on:click="saveMergeRows">Save</button>
                </div>

                <b>Merge conditions</b>
                <p>Merge rows if <select v-on:change="storeRules" v-model="settings.ruleMode"><option v-bind:value="mode" v-for="mode in settings.ruleModeList">{{mode}}</option></select> of the following are true</p>
                <div v-if="ruleEditor">
                    <select v-model="ruleEditor.field">
                        <option v-for="name in settings.spreadsheet.columnNames" v-bind:value="name">{{name}}</option>
                    </select>
                    <select v-model="ruleEditor.type">
                        <optgroup v-for="(ruleType, type) in groupedRuleList" v-bind:label="type">
                            <option v-for="rule in ruleType" v-bind:value="rule">{{rule.label}}</option>
                        </optgroup>
                    </select>
                    <input type="text" v-if="ruleEditor.type.showComparison" v-model="ruleEditor.value">
                </div>
                <button v-if="ruleEditor" v-on:click="saveRule">Save <span v-if="ruleEditorIndex<0">new</span> rule</button>
                <button v-if="ruleEditor" v-on:click="clearRuleEditor">Cancel</button>
                <button v-if="!ruleEditor" v-on:click="newRule">New rule</button>
                <span v-if="ruleSaving">Saving...</span>
                <ul>
                    <li v-for="(rule, index) in settings.rules">
                        <a href="#" v-on:click="editRule(index, $event)">edit</a>
                        <a href="#" v-on:click="deleteRule(index, $event)">delete</a>
                        <span v-bind:class="{editorFocus: index===ruleEditorIndex}">{{rule.field}} {{rule.type.label}} <span v-if="rule.type.showComparison">{{rule.value}}</span></span>
                    </li>
                </ul>
            </div>
        </accordion>
        <button class="blue block" v-bind:disabled="disableMergeButton" v-if="settings.spreadsheet.sheet" v-on:click="runMerge">Run merge</button>
    </form>
    <div class="error" v-if="error">
        <i class="fas fa-times" style="cursor: pointer" v-on:click="error=null"></i>
        {{error}}
    </div>
</div>
</body>
</html>